html {
  font-size: 62.5%;
}

/* __________  TOP SECTION  __________ */

#top {
  width: 100%;
  height: 61rem;
  background-color: #312e2b;

}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.go_back {
  display: flex;
  margin-top: .5rem;
}

.arrow_left {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.4;
  margin-left: 2.9rem;
  margin-right: .3rem;
}

.back_button {
  width: 68px;
  height: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.stars {
  display: flex;
  align-items: center;
  margin-top: .7rem;
  margin-left: 1.2rem;
}

.star {
  width: 18px;
  height: 17px;
  object-fit: contain;
  margin-right: .4rem;
}

#last_star {
  margin-right: 1.2rem;
}

.app_reviews {
  height: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-top: -.1rem;
}

.logo {
  width: 105px;
  height: 29px;
  object-fit: contain;
  margin-top: .1rem;
  margin-right: 3.3rem;
}

#try_now {
  margin-top: 2rem;
  text-align: center;
}

.heading {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
}

.trial_button {
  border-radius: .4rem;
  box-shadow: 0 .5rem 0 0 #0381b8;
  background-color: #0097c7;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 2.7rem;
  margin-bottom: 1.1rem;
  padding: 1.2rem 4rem;

}

.skip {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.laptop {
  margin: 2.7rem auto;
  width: 755px;
  height: 451px;
  object-fit: contain;
}

/* __________  LESSONS SECTION  __________ */

#lessons {
  width: 100%;
  height: 57.5rem;
  background-color: #ffffff;

}

.cap {
  width: 6.8rem;
  height: 6.8rem;
  object-fit: contain;
  margin: 20.6rem auto 3.8rem;
}

.lessons_content {
  display: flex;
  margin-left: 23.2rem;
}

.lessons_text {}

.lessons_heading {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.33;
  font-family: 'Montserrat', sans-serif;
  color: #262421;

}

.lessons_copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
  margin-top: 2.4rem
}

.lessons_numbers {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
  margin-top: 2.6rem;
}

#lessons_daily {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #262421;
  margin-right: 1.3rem;
}

#lessons_chess_board {
  position: relative;
}

.lessons_chess_board-img {
  width: 44.3rem;
  height: 39.4rem;
  object-fit: contain;
  /*! check the box shadow left side */
  box-shadow: 0 1.6rem 1.6rem 0 rgba(0, 0, 0, 0.1);
  margin-left: 7.6rem;
}

.bubble {
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: absolute;
  left: 13.7rem;
  top: 4.4rem;
}

.bubble-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #312e2b;
  margin: 1.7rem 2.5rem 2.1rem 2.1rem;
}

.bubble-square {
  width: 21px;
  height: 21px;
  transform: rotate(-315deg);
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 32.7rem;
  top: 8.1rem;
}

.puzzle_piece {
  width: 68px;
  height: 68px;
  object-fit: contain;
  margin: 3rem auto;
}

/* __________  PUZZLES SECTION  __________ */
#puzzles {
  width: 100%;
  height: 65.5rem;
  background-color: #0097c7;
  text-align: center;
  padding-top: 4.2rem;
}

.puzzles_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
}

.puzzles_chess_board {
  width: 39.2rem;
  height: 402px;
  object-fit: contain;
  margin: 2.7rem auto 0;
}

.puzzles_caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-top: -1.8rem;
}

.magnifying_glass {
  width: 72px;
  height: 72px;
  object-fit: contain;
  margin: 1.6rem auto 0;
}


#analysis {
  width: 100%;
  /* height: 67.9rem; */
  height: 68rem;
  background-color: #ffffff;
}

#reviews {
  height: 51.3rem;
  background-color: #dad8d6;
}

#coaches {
  width: 100%;
  height: 116rem;
  background-color: #ffffff;
}

#team {
  width: 100%;
  /* height: 69.9rem; */
  height: 70rem;
  background-color: #6c9d41;
}

#players {
  width: 100%;
  /* height: 77.9rem; */
  height: 78rem;
  background-color: #ffffff;
}

#master {
  width: 100%;
  /* height: 97.9rem; */
  height: 98rem;
  background-color: #312e2b;
}

#mission {
  width: 100%;
  height: 88.8rem;
  background-color: #ffffff;
}

#plans {
  width: 100%;
  height: 110.4rem;
  background-color: #312e2b;
}