html {
  font-size: 62.5%;
}

@media (min-width: 1440px) {}


/* __________  TOP SECTION  __________ */

#top {
  width: 100%;
  height: 40rem;
  background-color: #312e2b;
}

@media (min-width: 1440px) {
  #top {
    height: 61rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.sm-hidden {
  display: none;
}

#hide-stars {
  display: none;
}

@media (min-width: 768px) {
  #hide-stars {
    display: inherit;
  }
}

@media (min-width: 1440px) {
  .header {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3rem;
  }

  .sm-hidden {
    display: inherit;
  }
}



.go_back {
  display: flex;
  margin-top: .5rem;
}

.arrow_left {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  opacity: 0.4;
  margin-left: 1rem;
}

@media (min-width: 1440px) {
  .arrow_left {
    margin-left: 2.9rem;
    margin-right: .3rem;
  }
}

.back_button {
  width: 6.8rem;
  height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.stars {
  display: flex;
  align-items: center;
  margin-top: .7rem;
  margin-left: 1.2rem;
  position: relative;
}

.star {
  width: 1.8rem;
  height: 1.7rem;
  object-fit: contain;
  margin-right: .4rem;
}

#last_star {
  margin-right: 1.2rem;
}

.app_reviews {
  height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: -.1rem;
}

.logo {
  width: 10.5rem;
  height: 2.9rem;
  object-fit: contain;
  margin-top: .5rem;
  margin-right: 1rem;
}

@media (min-width: 1440px) {
  .logo {
    margin-top: .1rem;
    margin-right: 3.3rem;
  }
}

#try_now {
  margin-top: 2rem;
  text-align: center;
}

.heading {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .heading {
    font-size: 4.8rem;
  }
}

.trial_button {
  border-radius: .4rem;
  box-shadow: 0 .5rem 0 0 #0381b8;
  background-color: #0097c7;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 2.7rem;
  margin-bottom: 1.1rem;
  padding: 1.45rem 4rem;

}

.skip {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.laptop {
  margin: 2.7rem auto;
  width: 90%;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .laptop {
    width: 66%;
  }
}

@media (min-width: 1440px) {
  .laptop {
    margin: 2.7rem auto;
    width: 75.5rem;
    height: 45.1rem;
  }
}


/* __________  LESSONS SECTION  __________ */

#lessons {
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  #lessons {
    padding-top: 9.5rem;
  }
}

@media (min-width: 1440px) {
  #lessons {
    height: 57.5rem;
    padding-top: 0;
  }
}

.cap {
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  margin: 12rem auto 3.8rem;
}

.cap {
  width: 6.8rem;
  height: 6.8rem;
  margin: 20.6rem auto 3.8rem;
}

@media (min-width: 1024px) {
  .cap {
    width: 6.8rem;
    height: 6.8rem;
    margin: 20.6rem auto 3.8rem;
  }
}

.lessons_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .lessons_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .lessons_content {
    display: flex;
    flex-direction: row;
    margin-left: 23.2rem;
    align-items: stretch;
    text-align: left;
    justify-content: left;
  }
}

.lessons_heading {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  font-family: 'Montserrat', sans-serif;
  color: #262421;
}

@media (min-width: 1440px) {
  .lessons_heading {
    font-size: 3.6rem;
    width: 100%;
    margin: 0;
  }
}

.lessons_copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
  margin-top: 1rem;
}

@media (min-width: 1440px) {
  .lessons_copy {
    width: 100%;
    margin: 2.4rem 0
  }
}

.lessons_numbers {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
  margin: 1.3rem auto;
  width: 95%;
}

@media (min-width: 1440px) {
  .lessons_numbers {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #312e2b;
    margin: 2.6rem 0;
    width: 100%
  }
}

#lessons_daily {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.01rem;
  text-align: center;
  color: #262421;
  margin-right: 1.3rem;
}

#lessons_chess_board {
  position: relative;
}

.lessons_chess_board-img {
  width: 44.3rem;
  height: 39.4rem;
  object-fit: contain;
  margin-top: -2rem;
}

@media (min-width: 768px) {
  .lessons_chess_board-img {
    padding: 2rem 0;
  }
}

@media (min-width: 1440px) {
  .lessons_chess_board-img {
    width: 44.3rem;
    height: 39.4rem;
    margin-left: 7.6rem;
    margin-top: 0;
    padding: 0;
  }
}

.bubble {
  border-radius: .8rem;
  box-shadow: 0 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: absolute;
  left: 1.5rem;
  top: 4.4rem;
}

@media (min-width: 1024px) {
  .bubble {
    left: 4rem;
  }
}

@media (min-width: 1440px) {
  .bubble {
    left: 13.7rem;
  }
}

.bubble-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #312e2b;
  margin: 1.7rem 2.5rem 2.1rem 2.1rem;
}

.bubble-square {
  width: 2.1rem;
  height: 2.1rem;
  transform: rotate(-315deg);
  border-radius: .2rem;
  background-color: #ffffff;
  position: absolute;
  left: 20.5rem;
  top: 8.1rem;
}

@media (min-width: 1024px) {
  .bubble-square {
    left: 23rem;
  }
}

@media (min-width: 1440px) {
  .bubble-square {
    left: 32.7rem;
  }
}

.puzzle_piece {
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  margin: 0 auto -1.6rem;
}

@media (min-width: 1024px) {
  .puzzle_piece {
    width: 6.8rem;
    height: 6.8rem;
    margin: 0 auto -3.3rem;

  }
}

@media (min-width: 1440px) {
  .puzzle_piece {
    margin: 3rem auto;
  }
}

/* __________  PUZZLES SECTION  __________ */

#puzzles {
  width: 100%;
  background-color: #0097c7;
  text-align: center;
  padding-top: 4.2rem;
}

@media (min-width: 1440px) {
  .puzzles {
    height: 65.5rem;
  }
}

.puzzles_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .puzzles_heading {
    font-size: 3.6rem;
  }
}

.puzzles_chess_board {
  width: 39.2rem;
  height: 40.2rem;
  object-fit: contain;
  margin: 2.7rem auto 0;
}

.puzzles_caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.01rem;
  color: #ffffff;
  margin-top: -1.8rem;
}

@media (min-width: 1440px) {
  .puzzles_caption {
    font-size: 2.4rem;
  }
}

.magnifying_glass {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin: 1.6rem auto -5.5rem;
}

@media (min-width: 1024px) {
  .magnifying_glass {
    width: 7.2rem;
    height: 7.2rem;
    margin: 1.6rem auto -7.3rem;
  }
}


/* __________  ANALYSIS SECTION  __________ */

#analysis {
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  #analysis {
    height: 63.2rem;
  }
}

.analysis_content {
  display: flex;
  flex-direction: column-reverse;
  margin: 3.3rem .1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .analysis_content {
    flex-direction: row;
    margin: 3.3rem 0;
    justify-content: center;
    padding-top: 3.3rem;
    align-items: stretch;
    text-align: left;
  }
}

.analysis_chess_board-img {
  width: 39.2rem;
  height: 39.2rem;
  object-fit: cover;
}

@media (min-width: 1440px) {
  .analysis_chess_board-img {
    margin: 0;
  }
}

.analysis_text {
  margin-top: 3.8rem;
}

.analysis_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.33;
  color: #262421;
}

@media (min-width: 1440px) {
  .analysis_heading {
    font-size: 3.6rem;
  }
}

.analysis_review {
  margin-top: 2rem;
  position: relative;
}

@media (min-width: 1440px) {
  .analysis_review {
    margin-top: 6rem;
  }
}

.analysis_review_text {
  border-radius: .8rem;
  box-shadow: 0 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #312e2b;
  margin-left: 5rem;
  padding-left: 3rem;
  padding-right: .5rem;
  text-align: left;
}

@media (min-width: 1440px) {
  .analysis_review_text {
    margin: 0 12rem 0 5.7rem;
    padding: 1.0rem 2.4rem 1.8rem 2.0rem;
  }
}

.reviewer_pic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  top: 1.2rem;
}

.analysis_trial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .6rem;
}

.analysis_button_wrapper {
  width: 80%;
  text-align: center;
}

@media (min-width: 1440px) {
  .analysis_button_wrapper {
    width: 40%;
  }
}

.analysis_trial_button {
  border-radius: .4rem;
  box-shadow: 0 .3rem 0 0 #0381b8;
  background-color: #0097c7;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  padding: 1.45rem 4rem;

}

.analysis_stars {
  display: flex;
  align-items: center;
  margin: 2.6rem auto;
  min-width: 28.8rem;
}

.analysis_star {
  width: 1.8rem;
  height: 1.7rem;
  object-fit: contain;
  margin-right: .4rem;
}

#analysis_last_star {
  margin-right: 1.2rem;
}

.analysis_app_reviews {
  height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #4b4847;
  margin-top: -.1rem;
}


/* __________  REVIEWS SECTION  __________ */

#reviews {
  background-color: #dad8d6;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1440px) {
  #reviews {
    height: 51.3rem;
  }
}

.reviews_heading {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  color: #262421;
  padding-top: 3rem;

}

@media (min-width: 1440px) {
  .reviews_heading {
    font-size: 3.6rem;
    padding-top: 5.4rem;

  }
}

.reviews_ind_reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .reviews_ind_reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 5.3rem;
  }
}

.reviews_review_box {
  width: 95%;
  border-radius: .8rem;
  border: solid .1rem #f1f1f1;
  background-color: #ffffff;
  text-align: left;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  transition: transform .3s;
  cursor: pointer;
  max-width: 48.6rem;
}

@media (min-width: 1024px) {
  .reviews_review_box {
    width: 48.6rem;
    height: 24.0rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 4rem;
    padding-right: 0;
    padding-bottom: 0;
    transition: transform .3s;
    cursor: pointer
  }
}

@media (min-width: 1280px) {
  .reviews_review_box:hover {
    transform: scale(1.05);
  }
}

.reviews_review_heading {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.018rem;
  color: #262421;
  margin-top: 1.5rem;
  padding-bottom: .5rem;
}

@media (min-width: 1440px) {
  .reviews_review_heading {
    font-size: 1.8rem;
    margin-top: 4.1rem;
    padding-bottom: 0;
  }
}

.reviews_stars {
  margin-left: 0;
}

.reviews_review_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #312e2b;
  margin-top: 1rem;
}

@media (min-width: 1440px) {
  .reviews_review_text {
    margin-top: 2.4rem;
    font-size: 1.8rem;
  }
}

.reviews_buttons_wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding-bottom: 3rem;
}

@media (min-width: 1024px) {
  .reviews_buttons_wrapper {
    margin-top: 3rem;
  }
}

@media (min-width: 1440px) {
  .reviews_buttons_wrapper {
    margin-top: 5.2rem;
    padding-bottom: 0;
  }
}


/* __________  COACHES SECTION  __________ */

#coaches {
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  #coaches {
    height: 115.8rem;
  }
}

.coaches_header {
  text-align: center;
  padding: 0 .5rem;
}

@media (min-width: 1440px) {
  .coaches_header {
    padding: 0;
  }
}

.coaches_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  color: #262421;
  padding-top: 3rem;
}

@media (min-width: 1440px) {
  .coaches_heading {
    font-size: 3.6rem;
    padding-top: 7.1rem;
  }
}

.coaches_pic {
  width: 10.2rem;
  height: 10.2rem;
  object-fit: contain;
  margin: 1rem auto .6rem;
}

.coaches_caption {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
}

.coaches_caption-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  /* font-weight: 600; */
  line-height: 1.5;
  color: #666564;
  margin-top: 1.4rem;
}

#caption_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #262421;
}

.coaches_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

@media (min-width: 1280px) {
  .coaches_cards {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 4rem;
  }
}

.coaches_trajectory,
.coaches_beat_friends {
  margin: 0 .5rem;
  width: 100%;
  max-width: 53rem;
}

.coaches_cards_captions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -53rem;
}

@media (min-width: 1280px) {
  .coaches_cards_captions-wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: -18rem;
  }
}

.coaches_cards_captions-1 {
  margin-top: -.2rem;
}

@media (min-width: 414px) {
  .coaches_cards_captions-1 {
    margin-top: -5rem;
  }

  .x-show {
    display: block;
  }
}

@media (min-width: 768px) {
  .coaches_cards_captions-1 {
    margin-top: -19rem;
  }
}

@media (min-width: 1280px) {
  .coaches_cards_captions-1 {
    margin-top: -.2rem;
    margin-left: 22rem;
  }
}

@media (min-width: 1440px) {
  .coaches_cards_captions-1 {
    margin-left: 27.4rem;
  }
}



.coaches_cards_captions-2 {
  margin-top: 31rem;
  padding-top: 2.8rem;
}

@media (min-width: 414px) {
  .coaches_cards_captions-2 {
    margin-top: 35rem;
  }
}

@media (min-width: 768px) {
  .coaches_cards_captions-2 {
    margin-top: 48rem;
  }
}

@media (min-width: 1280px) {
  .coaches_cards_captions-2 {
    padding-top: 2.8rem;
    margin-left: 23.5rem;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .coaches_cards_captions-2 {
    margin-left: 19rem;
  }
}

.coaches_cards_captions-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #262421;
  padding: 0 2rem;
}

@media (min-width: 1440px) {
  .coaches_cards_captions-heading {
    font-size: 2.4rem;
    padding: 0;

  }
}

.coaches_cards_captions-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  padding-top: .8rem;
}

.coaches_cards_captions-text-1 {
  color: #4b4847;
}

.coaches_cards_captions-text-2,
#coaches_case_studies {
  color: #0097c7;
}

.coaches_trial {
  margin-top: 6rem;
}

@media (min-width: 1280px) {
  .coaches_trial {
    margin-top: 10.4rem;
  }
}


/* __________  TEAM SECTION  __________ */

#team {
  width: 100%;
  position: relative;
}

@media (min-width: 1440px) {
  #team {
    height: 70rem;
  }
}

.team_topper {
  width: 100%;
  height: 7rem;
  background-color: #6B9D41;
}

@media (min-width: 1440px) {
  .team_topper {
    display: hidden;
  }
}

.team_picture {
  object-fit: contain;
}

.team_content {
  margin-top: -27rem;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 414px) {
  .team_content {
    margin-top: -29rem;
  }
}

@media (min-width: 768px) {
  .team_content {
    margin-top: -48rem;
  }
}

@media (min-width: 824px) {
  .team_heading {
    margin-top: -51rem;
  }
}

@media (min-width: 1024px) {
  .team_heading {
    margin-top: -62rem;
  }
}

@media (min-width: 1440px) {
  .team_content {
    margin-top: -75.7rem;
  }
}

.team_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.89;
  letter-spacing: 0.013rem;
}

@media (min-width: 768px) {
  .team_heading {
    font-size: 2.4rem;
  }
}

@media (min-width: 1440px) {
  .team_heading {
    font-size: 3.6rem;
  }
}

.team_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.78;
  letter-spacing: normal;
}

@media (min-width: 1024px) {
  .team_text {
    font-size: 1.8rem;
  }
}


/* __________  PLAYERS SECTION  __________ */

#players {
  width: 100%;
  /* height: 65.8rem; */
  min-height: 60rem;
  background-color: #ffffff;
  text-align: center;
}

@media (min-width: 1280px) {
  #players {
    height: 65.8rem;
  }
}

.world_map_pic {
  padding-top: 21rem;
  margin: 0 auto 0;
  object-fit: contain;
}

@media (min-width: 768px) {
  .world_map_pic {
    margin: 40rem auto 0;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .world_map_pic {
    margin: 52rem auto 0;
  }
}

@media (min-width: 1440px) {
  .world_map_pic {
    margin: 19.1rem auto 0;
  }
}

.players_content {
  text-align: center;
}

@media (min-width: 768px) {
  .players_content {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .players_content {
    margin-top: -34.1rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .players_content {
    margin-top: -39.1rem;
  }
}

.players_heading {
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #262421;
}

@media (min-width: 1440px) {
  .players_heading {
    font-size: 3.6rem;
    padding-top: 0;
  }

  .lg-hidden {
    display: none;
  }
}

.players_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  letter-spacing: normal;
  color: #312e2b;
  margin-top: .9rem;
}

.players_text-span {
  font-weight: 600;
}


/* __________  MASTER SECTION  __________ */

#master {
  width: 100%;
  background-color: #312e2b;
  text-align: center;
}

@media (min-width: 1280px) {
  #master {
    height: 98rem;
  }
}

.master_content {
  padding-top: 4.3rem;
  color: #ffffff;
}

.master_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
}

@media (min-width: 1440px) {
  .master_heading {
    font-size: 3.6rem;
  }
}

.master_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  margin-top: 1.6rem;
}

.master_video {
  width: 100%;
  height: auto;
  margin-top: 2.4rem;
  max-width: 79.2rem;
}

@media (min-width: 768px) {
  .master_video {
    padding: 0 2rem;
  }
}

@media (min-width: 1440px) {
  .master_video {
    width: 79.2rem;
    height: 43.6rem;
    margin-top: 2.4rem;
  }
}

.master_trial {
  margin-top: 5.5rem;
}

.master_app_reviews {
  color: #ffffff;
}

.old_game {
  width: 100%;
  height: auto;
  box-shadow: 0 1.5rem 3.5rem 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin: 2.9rem auto;
  position: relative;
  z-index: 99;
}

@media (min-width: 1280px) {
  .old_game {
    width: 99.6rem;
    height: 45.7rem;
    border-radius: .8rem;
  }
}

.old_game_content {
  padding-top: 3rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .old_game_content {
    padding-top: 5.3rem;
  }
}

.old_game_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.02rem;
  color: #262421;
}

@media (min-width: 1440px) {
  .old_game_heading {
    font-size: 3.6rem;
  }
}

.old_game_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.78;
  color: #666564;
  margin-top: .8rem;
}

.old_game_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .old_game_cards {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

@media (min-width: 1440px) {
  .old_game_cards {
    padding-top: 0;
    padding-bottom: 0;

  }
}

.old_game_card {
  width: 19.8rem;
  height: 19.8rem;
  border-radius: 1.6rem;
  background-color: #f1f1f1;
  margin: 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .old_game_card {
    margin: 2.5rem 3.65rem;
  }
}

.lightbulb {
  width: 6.2rem;
  height: 6.2rem;
  object-fit: contain;
  margin: 2.4rem auto 0;
}

.fun {
  margin: 2.9rem auto 0;
}

.stopwatch {
  margin: 2.7rem auto 0;
}

.old_game_card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.02rem;
  color: #262421;
}

#old-1 {
  margin-top: 1.5rem;
}

#old-2 {
  margin-top: 1.1rem;
}

#old-3 {
  margin-top: 1rem;
}


/* __________  MISSION SECTION  __________ */

#mission {
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 1280px) {
  #mission {
    height: 44.1rem;
  }
}

.mission_content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1280px) {
  .mission_content {
    margin-top: 38.7rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .mission_content {
    margin-top: 44.7rem;
  }
}

.group_13 {
  width: 39.3rem;
  height: 30.1rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media (min-width: 1440px) {
  .group_13 {
    margin-top: 1.8rem;
    margin-left: 3.3rem;
  }
}

.group_14 {
  width: 36.9rem;
  height: 33.3rem;
  object-fit: contain;
  margin-bottom: 3rem;
}

@media (min-width: 1440px) {
  .group_14 {
    margin-top: -3.2rem;
    margin-right: 3.7rem;
  }
}

.mission_copy {
  text-align: center;
}

.mission_header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.002rem;
  color: #262421;
  margin-top: 1rem;
}

@media (min-width: 1440px) {
  .mission_header {
    font-size: 4rem;
    margin: 0;
  }
}

.mission_text-1,
.mission_text-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #312e2b;
}

.mission_text-1 {
  margin-top: 1.5rem;
}

@media (min-width: 1440px) {
  .mission_text-1 {
    margin-top: 2.7rem;
  }
}

.mission_text-2 {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}

@media (min-width: 1440px) {
  .mission_text-2 {
    margin-top: 2.4rem;
    margin-bottom: 2rem;
  }
}

#chesskid {
  color: #0097c7;
}


/* __________  PLANS SECTION  __________ */


#plans {
  width: 100%;
  background-color: #312e2b;
  text-align: center;
}

@media (min-width: 1440px) {
  #plans {
    height: 110.4rem;
  }
}

.plans_stars_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

@media (min-width: 1440px) {
  .plans_stars_wrapper {
    padding-top: 7.3rem;
  }
}

.plans_header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.002rem;
  color: #ffffff;
  margin-top: 1.7rem;
}

@media (min-width: 1440px) {
  .plans_header {
    font-size: 4rem;
  }
}

.bill_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}

.bill_wrapper_inside {
  display: flex;
}

@media (min-width: 768px) {
  .bill_wrapper-inside {}
}

.bill_monthly {
  width: 33.3rem;
  height: 5.5rem;
  border-radius: .8rem;
  background-color: #f1f1f1;
  margin-left: 2%;
}

.bill_monthly_text,
.bill_yearly_text {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.009rem;
  text-align: center;
}

.bill_monthly_text {
  color: #4b4847;
  text-align: left;
  padding: 1.3rem 0 0 2.5rem;
}

.bill_yearly_text {
  color: #ffffff;
  padding: 1.5rem 0;
}

.bill_yearly {
  width: 19.8rem;
  height: 5.5rem;
  border-radius: .8rem;
  box-shadow: 0 .5rem 1.0rem 0 rgba(0, 0, 0, 0.4);
  background-color: #0097c7;
  margin-left: -17rem;
}

@media (min-width: 1440px) {
  .bill_yearly {
    margin-left: -15.5rem;
  }
}

.asterisk {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.008;
  color: #ffffff;
  margin: .7rem 0 0 16.8rem;
}

.plans_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.1rem;
}

@media (min-width: 1280px) {
  .plans_cards {
    flex-direction: row;
    margin-top: 3.1rem;
    align-items: flex-end;
  }
}

.plans_card,
.plans_card_popular {
  width: 32.2rem;
  height: 53rem;
  background-color: #f0f0f0;
  margin: 1rem 0;
  border-radius: .8rem;
  overflow: hidden;
}

@media (min-width: 1280px) {

  .plans_card,
  .plans_card_popular {
    margin: 0 1rem;
  }
}

.plans_card_popular {
  height: 55.9rem;
  background-color: #0098c9;
}

.plans_card-top {
  display: flex;
  align-items: center;
  width: 32.2rem;
  height: 7.1rem;
  background-color: #e7e6e4;
}

.plans_card_popular-top {
  width: 32.2rem;
  height: 10.0rem;
  background-color: #0085b1;
  text-align: center;

}

.plans_card_popular-msg {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .2rem;
  color: #ffffff;
  padding-top: 1.3rem;
}

.popular_wrapper {
  display: flex;
  align-items: center;
  margin-top: .7rem;
}

.plans_card-top-text,
.plans_card_popular-top-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding-top: .6rem;
  color: #262421;
}

.plans_card_popular-top-text {
  color: #ffffff;
}

.plan_star {
  width: 3rem;
  height: 2.9rem;
  margin-left: 11.1rem;
  margin-right: 1.2rem;
}

.crown {
  width: 2.9rem;
  height: auto;
  margin-left: 8rem;
  margin-right: 1.5rem;
}

.diamond {
  width: 3rem;
  height: auto;
  margin-left: 8rem;
  margin-right: 1.3rem;
}

.plans_card_heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #312e2b;
  margin-top: 4.1rem;
}

#popular {
  color: #ffffff;
}

#gold-plan,
#platinum-plan,
#diamond-plan {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.0rem;
  font-weight: bold;
  color: #312e2b;
  margin-left: 5.8rem;
  margin-right: .6rem;
  margin-top: 2rem;
  display: block;
}

#diamond-plan {
  color: #ffffff;
}

.price_wrapper {
  display: flex;
  margin-top: 1.5rem;
}

.plans_card-bottom,
.plans_card_popular-bottom {
  width: 75%;
  margin: 2.2rem auto;
  display: grid;
  grid-template-columns: 2rem 3fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1.8rem;
  grid-row-gap: .5rem;
  justify-content: center;
}

.plans_card_popular-bottom {
  grid-template-rows: repeat(8, 1fr);
}

.check-mark {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.2rem;
  align-self: center;
}

.plan_details,
.plan_details-popular {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #312e2b;
  justify-self: start;
}

.plan_details-popular {
  color: #ffffff;
}

#plans-bold {
  font-weight: bold;
}

.plans_button {
  height: 6.1rem;
  padding: 0 7rem;
  border-radius: .8rem;
  box-shadow: 0 .5rem 0 0 #a8afb6;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  color: #666564;
  margin-top: 6rem;
}

#popular-button {
  margin-top: .2rem;
  box-shadow: 0 .5rem 0 0 #c06700;
  background-color: #f18c00;
  color: #ffffff;
}

.plans_disclaimer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 1.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 1280px) {
  .plans_disclaimer {
    margin-top: 3rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1440px) {
  .plans_disclaimer {
    margin-top: 4.7rem;
    padding-bottom: 0;
  }
}

.hide-br {
  display: none;
}

@media (min-width: 1440px) {
  .hide-br {
    display: inherit;
  }

  .hide-br-lg {
    display: none;
  }
}

@media (min-width: 768px) {
  .med-show {
    display: block;
  }
}

@media (min-width: 1280px) {
  .med-hidden {
    display: none;
  }
}